body
{
    display: flex;
    background-image: url("images/background.jpg");
    background-repeat: repeat;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.mainFrame{
    border-radius: 10px;
    background-color: #efeeda   ; 
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    
}

.mainFrameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.numbersText{
    color: #04AA6D;
    font-family: Times;
    font-size: 64px;
}

.title{
    color: #4a4a35;
    font-family: Times;
    font-size: 64px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    color: #ebe9d2;
    font-family: Times;
    font-size: 64px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }